h, p {
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
}

.font-warning {
    color: red;
}

label.error {
    color: red;
    font-size: 16px;
    display: block;
    margin-top: 5px;
}

.nav-item:hover {
    background-color: #2980B9;
    text-decoration: underline white;  
}

tr p {
    margin: 0;
}

.isLiquidated {
    background-color: #ffffe0 !important;
}

.isLiquidated:hover {
    background-color: #ededce !important;
}

@media (min-width: 768px) {
    .label-hide {
        display: none;
    }

    .table {
        white-space: nowrap;
    }
}

@media (max-width: 768px) {
    .mb-1-md {
        margin-bottom: 6px;
    }
}