h, p {
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
}

.font-warning {
    color: red;
}

label.error {
    color: red;
    font-size: 16px;
    display: block;
    margin-top: 5px;
}

tr p {
    margin: 0;
}

@media (min-width: 768px) {
    .label-hide {
        display: none;
    }
}

@media (max-width: 768px) {
    .mb-1-md {
        margin-bottom: 6px;
    }
}